<link rel="stylesheet" href="/public/add.css" type="text/css">
<h1>{{viewTitle}}</h1>

            <body>
            <form  method="POST"  action="/user">
            <label>FULLNAME:-></label>
            <input id="i3" type="text" placeholder="write name" name="fullname" required><br><br>
            <label>TITLE:->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input id="i1" type="text" placeholder="note heading" name="title" required><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <textarea id="t1" type="text" placeholder="write notes here" name="note" rows="6" cols="30" required></textarea><br><br>
            <button id="b1" type="submit"">submit</button>
            </form>
            <button id="b1" onclick='return val()'>see notes</button>
            </body>
            <script src="../../public/add.js"></script>
            
        
    
    
