body{
    background-color: #2d545e;
    align-items: center;
    text-align: center;
}
#i1{
    width: 500px;
    height: 50px;
}
#i2{
    width: 500px;
    height: 50px;
}

#i3{
    width: 500px;
    height: 50px;
}


h1{
    color: cornsilk;
}

#b1{
    color: cyan;
    border-radius: 50px;
    border-color: darkcyan;
    background-color: darkcyan;
}
#b1:hover{
    
    background-color: darkseagreen;
}